{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main class="contain">
      <section class="secOne">
        <h1>Create a Resource</h1>
<!-- alert message for any operation result  -->
{% for message in messages  %}
     <div class="container mt-5">
             <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
                <strong><small>{{ message }}.</small></strong>
          <button type="button" class="close btn text-right" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                </div>
            {% endfor %}
<!-- end of alert messages -->

      </section>
      <section class="secTwo">
        <img src="{% static 'assets/resource.svg' %}" alt="">
        <form method="POST">
            {% csrf_token %}
            <div class="field">
                <label class="label">Resource name: </label>
                <div class="control">
                    <input type="text" class="input" name="name" id="task-name" placeholder="ex: Project manager">
                </div>
                <p class="help">This is a help text</p>
              </div>

              <div class="field">
                <label class="label">Type of Resource: </label>
                <div class="control">
                    <select class="input" id="dur" name="resource_type">
                        <option value="WORK">Work</option>
                        <option value="MATERIAL">Material</option>
                        <option value="COST">Cost</option>
                    </select>
                </div>
                <p class="help">This is a help text</p>
              </div>

              <div class="field">
                <label class="label">Material of resource: </label>
                <div class="control">
                    <input type="text" class="input" name="material" id="mat" placeholder="ex: tons, box ">
                </div>
                <p class="help">This is a help text</p>
              </div>

              <div class="field">
                <label class="label">Max (No. of Resource): </label>
                <div class="control">
{#                    <input type="text" class="input" name="noOfResources" id="max" placeholder="ex: 100% ">#}
                    <select class="input" name="max_number_of_resources" id="max">
                        <option value="100.0">100%</option>
                        <option value="50.0">50%</option>
                        <option value="0.0">0%</option>
                    </select>
                </div>
                <p class="help">This is a help text</p>
              </div>

              <div class="field">
                <label class="label">St. per rate: </label>
                <div class="control">
                    <input type="number" class="input" name="standard_rate" id="stprate" placeholder="ex: 15$">
                </div>
                <p class="help">This is a help text</p>
              </div>

              <div class="field">
                <label class="label">Over time: </label>
                <div class="control">
                    <input type="number" class="input" value="0"  name="overtime_rate" id="ovt" placeholder="ex: 15$">
                </div>

                <div class="field">
                  <label class="label">Cost per use: </label>
                  <div class="control">
                      <input type="number" class="input" value="0" name="cost_of_use" id="cou" placeholder="ex: 15$">
                  </div>
                <p class="help">This is a help text</p>
              </div>

              <div class="field">
                <p class="control">
                  <button type="submit" class="button button-color">
                    Create
                  </button>
                </p>
              </div>
              </div>
        </form>
      </section>
    </main>
{% endblock %}