{% extends 'base.html' %}
{% block content %}
    <main class="contain">
      <section class="secOne">
        <h1>Here is all your tasks</h1>

      </section>
      <section class="secTwo">

        <table class="table">
            <thead>
              <tr class="is-selected">
                <th>Task Number</th>
                <th>Task Name</th>
                <th>Duration</th>
                <th>Start Date</th>
                <th>Finsih Date</th>
              </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
              <tr>
                <th>{{ forloop.counter }}</th>
                <td>{{ task.name }}</td>
                <td>{{ task.duration }} days</td>
                <td>{{ task.start_date|date:"m-d-Y" }}</td>
                <td>{{ task.end_date|date:"m-d-Y" }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>

      </section>
{#      <button class="button button-color">Download as pdf</button>#}
    </main>
{% endblock %}