{% extends 'base.html' %}
{% block content %}
    <main class="contain">
      <section class="secOne">
        <h1>Here is all your resources</h1>

      </section>
      <section class="secTwo">

        <table class="table">
            <thead>
              <tr class="is-selected">
                <th>Resource Name</th>
                <th>Type</th>
                <th>Material</th>
                <th>Max (No. of Resource)</th>
                <th>St.Rate</th>
                <th>Ovt.</th>
                <th>Cost/Use</th>
              </tr>
            </thead>
            <tbody>
            {% for resource in resources %}
              <tr>
                <th>{{ resource.name }}</th>
                <td>{{ resource.resource_type }}</td>
                <td>{{ resource.material_label }}</td>
                <td>{{ resource.max_number_of_resources }}%</td>
                <td>{{ resource.standard_rate.amount }}$/hr</td>
                <td>{{ resource.overtime_rate.amount }}$/hr</td>
                <td>{{ resource.cost_of_use.amount }}$</td>
                </tr>
            {% endfor %}
            </tbody>
          </table>
      </section>
{#      <button class="button button-color">Download as pdf</button>#}
    </main>
{% endblock %}